* { padding: 0; margin: 0; box-sizing: border-box; z-index: 1; }

a { text-decoration: none; display: inline-block; color: inherit; }

ul { list-style: none; }

button { color: inherit; border: 0; background: none; cursor: pointer; font-size: inherit; font-family: inherit; }

body { font-family: 'Mitr', sans-serif; font-display: swap; color: #FFFFFF; font-size: 0.9rem; letter-spacing: 0.01rem; }

.btn-geral { background: linear-gradient(-90deg, #96EBE6 0%, #64B6B1 100%); background: -moz-linear-gradient(-90deg, #96EBE6 0%, #64B6B1 100%); background: -o-linear-gradient(-90deg, #96EBE6 0%, #64B6B1 100%); background: -webkit-linear-gradient(-90deg, #96EBE6 0%, #64B6B1 100%); -moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px; box-shadow: 4px 4px 20px #0e4a6b80; -moz-box-shadow: 4px 4px 20px #0e4a6b80; -webkit-box-shadow: 4px 4px 20px #0e4a6b80; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; padding: 8px 25px; color: #0F243E; }

.btn-geral:hover { box-shadow: 4px 4px 20px #0e4a6b80, 0 0 0 6px #96ebe626; -moz-box-shadow: 4px 4px 20px #0e4a6b80, 0 0 0 6px #96ebe626; -webkit-box-shadow: 4px 4px 20px #0e4a6b80, 0 0 0 6px #96ebe626; }

input { padding: 0.5rem; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #96ebe626; background: #96EBE60F; font-size: inherit; font-family: inherit; font-weight: inherit; color: inherit; text-align: right; }

input::placeholder { color: #96EBE6; font-size: 0.825rem; }

h2 { font-size: 3rem; text-shadow: 4px 4px 4px #024C75; }

h2 + .btn-geral { margin-top: 1.5rem; }

h1, h2, h3 { line-height: 1; }

.container { max-width: 880px; width: 100%; margin: 0 auto; padding: 0 25px; }

.animeLeft { transform: translateX(-20px); opacity: 0; animation: animeLeft .3s forwards; }

@keyframes animeLeft { to { opacity: initial;
    transform: initial; } }

.container-header { max-width: 1100px; width: 100%; margin: 0 auto; padding: 0 10px; }

.sup-header { background: #0F6393; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); height: 2rem; line-height: 2rem; }

.sup-header .container-header { display: flex; align-items: center; }

.doacao-link { padding: 0 1rem; height: 2rem; background: #96EBE6; color: #0F243E; margin-left: auto; }

.entrar-link { padding: 0 1rem; height: 2rem; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; }

.entrar-link:hover { color: #96EBE6; }

.horarios-abertos { position: relative; z-index: 99999; }

.horarios-abertos .fechado-aberto { padding: 0 10px; height: 2rem; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; }

.horarios-abertos .fechado-aberto p { display: inline-block; }

.horarios-abertos .fechado-aberto i { color: #96EBE6; }

.horarios-abertos .fechado-aberto:hover { color: #96EBE6; }

.horarios-abertos .fechado-aberto .icon { -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; display: inline-block; position: relative; top: 2px; margin-left: 5px; }

.horarios-abertos .fechado-aberto.active .icon { transform: rotate(-90deg); }

.horarios-abertos ul { position: absolute; background: #0F6393; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22); -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22); -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22); width: max-content; width: -webkit-max-content; width: -moz-max-content; padding: 1rem 2rem; display: none; }

.horarios-abertos ul p { font-weight: 300; font-size: 1; color: #96EBE6; }

.horarios-abertos ul .horario { display: block; }

.horarios-abertos ul li + li { margin-top: 10px; padding-top: 10px; border-top: 1px solid #033462; }

.horarios-abertos ul.active { display: block; }

.inf-header { position: sticky; position: -webkit-sticky; top: -1px; width: 100%; border-bottom: 1px solid #96ebe626; z-index: 999; }

.inf-header .container-header { display: flex; align-items: center; justify-content: space-between; height: 4rem; }

.inf-header ul { display: flex; align-items: center; }

.inf-header a { padding: 5px 1rem; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; }

.inf-header a:hover { color: #96EBE6; text-decoration: underline; }

.inf-header .logo { padding: 10px; font-weight: 600; font-size: 1.25rem; }

.inf-header.active { background-color: #033462; }

.btn-menu-mobile { font-size: 2rem; color: #96EBE6; display: none; }

.principal { background: linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -moz-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -o-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -webkit-linear-gradient(-90deg, #033462 0%, #02294e 100%); margin-top: calc(-4rem - 1px); color: #FFFFFF; display: flex; align-items: center; min-height: calc(100vh - 2rem); }

.principal .container-header { display: flex; justify-content: space-between; align-items: center; text-align: left; position: relative; padding: 12rem 25px 8rem 25px; z-index: 99; }

.principal .redes-sociais { margin-top: 1rem; }

.principal .redes-sociais li { display: inline-block; }

.principal .redes-sociais a { padding: 0.3rem; color: #96EBE6; font-size: 1.3rem; }

.principal .subtitulo { text-transform: uppercase; color: #96EBE6; }

.principal h1 { font-size: 3.5rem; text-shadow: 4px 4px 10px #0F243E; line-height: 1.2; max-width: 430px; width: 100%; }

.principal h1 span { color: #96EBE6; }

.principal h1 + p { max-width: 400px; margin-top: 1rem; }

.principal .btn-geral { margin-top: 2rem; }

.principal .imgs-principal { flex: 1; display: flex; justify-content: center; }

.principal .imgs-principal .circulo-1 { border-radius: 50%; background: #96EBE60F; outline: 1px solid #96EBE6; outline-offset: 1rem; width: 17rem; height: 17rem; position: relative; display: flex; justify-content: center; align-items: center; }

.principal .imgs-principal .circulo-1::before { content: ''; width: 22rem; height: 22rem; border: 1px solid #96ebe626; border-radius: 50%; display: block; position: absolute; }

.principal .imgs-principal .circulo-1::after { filter: blur(230px); -webkit-filter: blur(230px); background: #96EBE6; content: ''; display: block; width: 250px; height: 250px; position: absolute; top: -50px; left: -50px; }

.principal .imgs-principal .circulo-1 img { display: block; position: absolute; width: 530px; height: 530px; bottom: -120px; right: -200px; }

.eventos { background: linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -moz-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -o-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -webkit-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); display: flex; align-items: center; padding: 5rem 0; }

.eventos .container { display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 99; }

.eventos h2 { max-width: 400px; position: relative; }

.lista-eventos { display: flex; flex-direction: column; }

.lista-eventos article { display: flex; }

.lista-eventos article div { display: grid; grid-template-columns: auto auto; grid-gap: 0.8rem; padding: 1rem; }

.lista-eventos img { width: 130px; }

.lista-eventos a + a { margin-top: 40px; }

.lista-eventos a { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; background: #96EBE60F; border: 1px solid transparent; overflow: hidden; }

.lista-eventos a:hover { border: 1px solid #96ebe626; box-shadow: 0 0 0 5px #96EBE60F; -moz-box-shadow: 0 0 0 5px #96EBE60F; -webkit-box-shadow: 0 0 0 5px #96EBE60F; }

.lista-eventos p { max-width: 230px; grid-column: 2; }

.lista-eventos time { grid-column: 1; grid-row: 1 / 3; color: #96EBE6; text-align: right; margin-right: 10px; font-weight: 600; }

.lista-eventos time span { font-size: 3rem; line-height: 1; display: block; }

.lista-eventos time span::before { content: ''; background: #96EBE6; width: 100%; height: 3px; display: block; margin: 7px 0; }

.animais { background: linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -moz-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -o-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -webkit-linear-gradient(-90deg, #033462 0%, #02294e 100%); padding: 5rem 0; }

.animais .container { display: flex; align-items: center; justify-content: space-between; }

.header-animais { order: 2; text-align: right; }

.header-animais h2 { text-shadow: 4px 4px 4px #02294e; }

.slide-animais { display: flex; align-items: flex-end; }

.slide-animais article { text-align: right; display: none; }

.slide-animais article h3 { width: fit-content; width: -webkit-fit-content; width: -moz-fit-content; margin-left: auto; font-size: 1.25rem; }

.slide-animais article h3::before { content: ''; background: #96EBE6; width: 30px; height: 3px; position: relative; top: -4px; margin-right: 1rem; display: inline-block; }

.slide-animais article .nome-cientifico { color: #96EBE6; font-size: 0.875rem; }

.slide-animais article img { display: block; margin-top: -40%; width: 100%; height: auto; }

.slide-animais article p { max-width: 270px; margin-left: auto; margin-top: 1.5rem; }

.slide-animais article.active { display: block; }

.slide-animais .btns-slide { color: #96EBE6; font-size: 2rem; margin-left: 3rem; }

.slide-animais .btns-slide button { opacity: 0.3; display: block; border: 1px solid #96EBE6; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; margin: 0.4rem; }

.slide-animais .btns-slide button:hover { opacity: 1; }

.apoie { background: linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -moz-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -o-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -webkit-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); padding: 5rem 0; text-align: center; }

.apoie h2 + p { margin: 0.5rem 0 3rem 0; }

.apoie ul { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 7%; }

.apoie ul a { padding: 2.5rem; position: relative; text-align: center; background: #96EBE60F; border: 1px solid transparent; height: 100%; display: flex; justify-content: center; align-items: center; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

.apoie ul a:hover { border: 1px solid #96ebe626; box-shadow: 0 0 0 5px #96EBE60F; -moz-box-shadow: 0 0 0 5px #96EBE60F; -webkit-box-shadow: 0 0 0 5px #96EBE60F; }

.apoie ul a i { display: block; font-size: 2rem; color: #96EBE6; position: absolute; top: -1.2rem; right: 0; left: 0; margin: 0 auto; }

.perguntas { background: linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -moz-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -o-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -webkit-linear-gradient(-90deg, #033462 0%, #02294e 100%); padding: 5rem 0; }

.perguntas .container { display: flex; align-items: center; justify-content: space-between; }

.perguntas h2 { text-shadow: 4px 4px 4px #02294e; max-width: 400px; text-align: right; }

.perguntas ul { order: -1; max-width: 350px; width: 100%; }

.perguntas ul li + li { padding-top: 1rem; margin-top: 1rem; border-top: 2px solid #96EBE60F; }

.perguntas ul li > p { margin-top: 0.5rem; display: none; width: 100%; }

.perguntas ul li > p.active { display: block; }

.perguntas ul button { text-align: left; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; width: 100%; display: flex; align-items: center; justify-content: space-between; }

.perguntas ul button p, .perguntas ul button span { display: inline-block; }

.perguntas ul button span { margin-left: 5px; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; }

.perguntas ul button i { color: #96EBE6; }

.perguntas ul button:hover { color: #96EBE6; text-decoration: underline; }

.perguntas ul button.active { color: #96EBE6; }

.perguntas ul button.active span { transform: rotate(-90deg); }

.galeria .galeria-container { display: flex; cursor: grab; overflow: hidden; }

.galeria .galeria-container img { min-width: 20vw; height: auto; }

.inscrevase { background: linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -moz-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -o-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); background: -webkit-linear-gradient(-90deg, #0F6393 0%, #024C75 100%); padding: 5rem 0; }

.inscrevase .container { display: flex; align-items: center; }

.inscrevase .container > * { flex: 1; }

.inscrevase h2 { max-width: 400px; font-size: 2.25rem; }

.inscrevase form { width: 100%; text-align: right; }

.inscrevase form input { max-width: 300px; width: 100%; }

.inscrevase form button { display: block; margin-top: 1rem; margin-left: auto; }

footer { background: linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -moz-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -o-linear-gradient(-90deg, #033462 0%, #02294e 100%); background: -webkit-linear-gradient(-90deg, #033462 0%, #02294e 100%); padding: 3rem 0 2rem 0; }

footer .infos-gerais { display: grid; grid-template-columns: auto auto auto; grid-gap: 2rem; }

footer .infos-gerais h3 { margin-bottom: 1rem; }

footer .infos-gerais nav ul { column-count: 2; -moz-column-count: 2; -webkit-column-count: 2; }

footer .infos-gerais nav ul a { padding: 0.2rem; -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; }

footer .infos-gerais nav ul a:hover { color: #96EBE6; text-decoration: underline; }

footer .infos-gerais .endereco span { display: block; padding: 0.2rem; }

footer .infos-gerais .contato span { display: block; padding: 0.2rem; }

footer .infos-gerais .contato .redes-sociais { display: flex; }

footer .infos-gerais .contato .redes-sociais a { padding: 0.2rem 0.5rem; }

footer .infos-gerais .contato .redes-sociais i { font-size: 1.5rem; color: #96EBE6; }

footer .btn-e-form { display: flex; justify-content: space-between; align-items: center; padding: 2.5rem 0; }

footer .btn-e-form input { margin-right: 1rem; }

footer .termos-by { display: flex; justify-content: space-between; align-items: center; }

footer .termos-by a { -webkit-transition: 0.3s ease-out; -moz-transition: 0.3s ease-out; -o-transition: 0.3s ease-out; transition: 0.2s ease-out; }

footer .termos-by a:hover { text-decoration: underline; color: #96EBE6; }

@media all and (min-width: 1850px) { .principal { min-height: initial; } }

@media all and (max-width: 1100px) { .principal h1 { font-size: 3rem; max-width: 350px; }
  .principal .imgs-principal .circulo-1 { width: 13rem; height: 13rem; }
  .principal .imgs-principal .circulo-1::before { content: ''; width: 18rem; height: 18rem; }
  .principal .imgs-principal .circulo-1 img { display: block; position: absolute; width: 430px; height: 430px; bottom: -120px; right: -120px; } }

@media all and (max-width: 900px) { .inf-header nav { position: absolute; top: 4rem; background: #033462; width: 100%; left: 0; display: none; }
  .inf-header nav ul { flex-direction: column; justify-content: space-evenly; min-height: calc(100vh - 4rem); }
  .inf-header nav ul li { width: 100%; text-align: center; }
  .inf-header nav ul a { width: 100%; }
  .inf-header nav.active { display: block; }
  .inf-header nav.active nav { top: 2rem; }
  .inf-header nav.active nav ul { min-height: calc(100vh - 2rem); }
  .btn-menu-mobile { display: block; } }

@media all and (max-width: 790px) { .principal .container-header { flex-direction: column; text-align: center; padding: 9rem 45px 5rem 45px; }
  .principal .container-header h1 { margin: 0 auto; font-size: 2rem; }
  .principal .container-header .imgs-principal { order: -1; margin-bottom: 7rem; }
  .principal .container-header .imgs-principal .circulo-1 { width: 10rem; height: 10rem; }
  .principal .container-header .imgs-principal .circulo-1::before { content: ''; width: 15rem; height: 15rem; }
  .principal .container-header .imgs-principal .circulo-1 img { width: 300px; height: 300px; bottom: -100px; right: -70px; }
  .eventos .container, .animais .container, .perguntas .container, .inscrevase .container { flex-direction: column; }
  .eventos .container header, .animais .container header, .perguntas .container header, .inscrevase .container header { text-align: center; margin-bottom: 3rem; }
  .animais .container .header-animais { order: -1; }
  .animais .container .slide-animais { position: relative; flex-direction: column; align-items: center; }
  .animais .container .slide-animais article { text-align: center; }
  .animais .container .slide-animais article h3 { margin: 0 auto; }
  .animais .container .slide-animais article h3::before { display: none; }
  .animais .container .slide-animais article img { margin-top: 0; width: 250px; height: 250px; }
  .animais .container .slide-animais article p { margin-right: auto; }
  .animais .container .slide-animais .btns-slide { display: flex; margin-top: 1rem; margin-left: 0; }
  .animais .container .slide-animais .btns-slide button { transform: rotate(-90deg); margin: 0 1rem; }
  .apoie ul { grid-template-columns: 1fr; }
  .apoie ul a { width: 100%; }
  .perguntas .container header { order: -1; }
  .perguntas .container header h2 { text-align: center; }
  .inscrevase form input { max-width: 100%; }
  .inscrevase form button { margin-right: auto; margin-left: auto; }
  footer .infos-gerais { grid-template-columns: 1fr; text-align: center; }
  footer .infos-gerais nav ul { column-count: 1; -moz-column-count: 1; -webkit-column-count: 1; }
  footer .infos-gerais nav ul a { padding: 0.5rem; }
  footer .infos-gerais .endereco span { padding: 0.5rem; }
  footer .infos-gerais .contato span { padding: 0.5rem; }
  footer .infos-gerais .contato .redes-sociais { justify-content: center; margin-top: 1.5rem; }
  footer .btn-e-form { flex-direction: column; }
  footer .btn-e-form a { margin-bottom: 3rem; }
  footer .btn-e-form form { text-align: center; }
  footer .btn-e-form form input { display: block; margin: 0; }
  footer .btn-e-form form button { margin: 0; margin-top: 1rem; }
  footer .termos-by { flex-direction: column; }
  footer .termos-by a { margin-top: 0.5rem; }
  h2 { font-size: 2rem; }
  .eventos img { display: none; }
  .sup-header { height: 100%; }
  .sup-header .container-header { display: grid; grid-template-columns: auto auto; grid-row: 2rem 2rem; padding: 0; justify-content: space-between; background-color: #0F6393; }
  .sup-header .container-header .doacao-link { grid-column: 1 / -1; grid-row: 1; width: 100%; text-align: center; } }
