.animais {
    @include gradient((-90deg, $cor-3 0%, $cor-bg-2 100%));
    padding: 5rem 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header-animais {
    order:2;
    text-align: right;
    h2 {
        text-shadow: 4px 4px 4px $cor-bg-2;
    }
}

.slide-animais {
    display: flex;
    align-items: flex-end;
    article {
        text-align: right;
        h3 {
            @include fitContent;
            margin-left: auto;
            &::before {
                content: '';
                background: $cor-1;
                width: 30px;
                height: 3px;
                position: relative;
                top: -4px;
                margin-right: 1rem;
                display:inline-block
            }
        }
        .nome-cientifico {
            color: $cor-1;
            font-size: 0.875rem;
        }
        img {
            display: block;
            margin-top: -40%;
            width: 100%;
        }
        p {
            max-width: 270px;
            margin-left: auto;
            margin-top: 1.5rem;
        }
    }
    .btns-slide {
            color: $cor-1;
            font-size: 2rem;
            margin-left: 3rem;
            button {
                opacity: 0.3;
                display: block;
                border:1px solid $cor-1;
                @include borderRadius(3px);
                @include transition;
                margin: 0.4rem;
                &:hover {
                    opacity: 1;
                }
            }
    }
}