body {
    font-family: 'Mitr', sans-serif;
    font-display: swap;
    color: $cor-4;
    font-size: 0.9rem;
    letter-spacing: 0.01rem
}

.btn-geral {
    @include gradient((-90deg, $cor-1 0%, #64B6B1 100%));
    @include borderRadius(30px);
    @include shadow(4px 4px 30px #0e4b6b5e);
    @include transition;
    padding: 8px 25px;
    color: $cor-5;

    &:hover {
        @include shadow(4px 4px 30px #0e4b6b5e, 0 0 0 6px $cor-borda);
    }
}

input {
    padding: 0.5rem;
    @include borderRadius(3px);
    border: 1px solid $cor-borda;
    background: $cor-fundos;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-align: right;
}

input::placeholder {
    color: $cor-1;
    font-size: 0.825rem;
}


h2 {
    font-size: 3rem;
    text-shadow: 4px 4px 4px $cor-bg-1;
}

h2+.btn-geral {
    margin-top: 1.5rem;
}

h1,
h2,
h3 {
    line-height: 1;

}

.container {
    max-width: 880px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

.animeLeft {
    transform: translateX(-20px);
    opacity: 0;
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    to {
        opacity: initial;
        transform: initial;
    }
}