.perguntas {
    @include gradient((-90deg, $cor-3 0%, $cor-bg-2 100%));
    padding: 5rem 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        text-shadow: 4px 4px 4px $cor-bg-2;
        max-width: 400px;
        text-align: right;
    }

    ul {
        order: -1;
        max-width: 350px;
        li + li {
            padding-top: 1rem;
            margin-top: 1rem;
            border-top: 2px solid $cor-fundos;
        }
        button {
            text-align:left;
            @include transition;
            i {
                color: $cor-1;
            }
            &:hover {
                color: $cor-1;
                text-decoration: underline;
            }
        }
        p {
            display: none;
        }
    }
}