.principal {
    @include gradient((-90deg, $cor-3 0%, $cor-bg-2 100%));
    margin-top: calc(-4rem - 1px);
    color: $cor-4;
    display: flex;
    align-items: center;
    .container-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        position: relative;
        padding: 12rem 15px 8rem 15px;
    }
    .redes-sociais {
        position: absolute;
        right: -4rem;
        bottom: 1rem;
        a {
            padding: 0.3rem;
            color: $cor-1;
            font-size: 1.3rem;
        }
    }
    .subtitulo {
        text-transform: uppercase;
        color: $cor-1;
    }
    h1 {
        font-size: 3.55rem;
        text-shadow: 4px 4px 10px #0F243E;
        line-height: 1.2;
        max-width: 500px;
        span {
            color: $cor-1;
        }
    }
    h1 + p {
        max-width: 400px;
        margin-top: 1rem;
    }
    .btn-geral {
        margin-top: 2rem;
    }
    .imgs-principal {
        flex:1;
        display:flex;
        justify-content: center;
        .circulo-1 {
            border-radius: 50%;
            background: $cor-fundos;
            outline: 1px solid $cor-1;
            outline-offset: 1rem;
            width: 17rem;
            height: 17rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: '';
                width: 22rem;
                height: 22rem;
                border: 1px solid $cor-borda;
                border-radius: 50%;
                display: block;
                position: absolute;
            }
            &::after {
                @include brilho;
                top: -50px;
                left: -50px
            }
            img {
                display: block;
                position: absolute;
                width: 530px;
                bottom: -120px;
                right: -200px
            }
        }
    }
}