@media all and (min-width: 1850px) {
    .principal {
        min-height: initial;
    }
}

@media all and (max-width: 1100px) {
    .principal h1 {
        font-size: 3rem;
        max-width: 350px;
    }
    .principal .imgs-principal .circulo-1 {
        width: 13rem;
        height: 13rem;
        &::before {
            content: '';
            width: 18rem;
            height: 18rem;
        }
        img {
            display: block;
            position: absolute;
            width: 430px;
            height: 430px;
            bottom: -120px;
            right: -120px;
        }
    }
}

@media all and (max-width: 900px) {
    .inf-header nav {
        position: absolute;
        top: 4rem;
        background: $cor-3;
        width: 100%;
        left:0;
        display: none;
        ul {
            flex-direction: column;
            justify-content: space-evenly;
            min-height: calc(100vh - 4rem);
            li {              
                width: 100%;
                text-align: center;
            }
            a {
                width: 100%;
            }
        }
        &.active {
            display: block;
            nav {
                top:2rem;
                ul {
                    min-height: calc(100vh - 2rem);
                }
            }
        }
    }
    .btn-menu-mobile {
        display: block;
    }
}

@media all and (max-width: 790px) {
    .principal .container-header {
        flex-direction: column;
        text-align: center;
        padding: 9rem 45px 5rem 45px;
        h1 {
            margin: 0 auto;
            font-size: 2rem;
        }
        .imgs-principal {
            order: -1;
            margin-bottom: 7rem;
            .circulo-1 {
                width: 10rem;
                height: 10rem;
                &::before {
                    content: '';
                    width: 15rem;
                    height: 15rem;
                }
                img {
                    width: 300px;
                    height: 300px;
                    bottom: -100px;
                    right: -70px;
                }
            }
        }
    }

    .eventos .container, .animais .container, .perguntas .container, .inscrevase .container {
        flex-direction: column;
        header {
            text-align: center;
            margin-bottom: 3rem;
        }
    }

    .animais .container {
        .header-animais {
            order:-1
        }
        .slide-animais {
            position: relative;
            flex-direction: column;
            align-items: center;
            article {
                text-align: center;
                h3 {
                    margin: 0 auto;
                    &::before {
                        display: none;
                    }
                }
                img {
                    margin-top: 0;
                    width: 250px;
                    height: 250px;
                }
                p {
                    margin-right: auto;
                }
            }
            .btns-slide {
                display: flex;
                margin-top: 1rem;
                margin-left: 0;
                button {
                    transform: rotate(-90deg);
                    margin: 0 1rem;
                }
            }
        }
    }

    .apoie ul {
        grid-template-columns: 1fr;
        a{
            width: 100%;
        }
    }

    .perguntas .container {
        header {
            order: -1;
            h2 {
                text-align: center;
            }
        }
    }

    .inscrevase {
        form {
            input {
               max-width: 100%;
            }
            button {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }

    footer .infos-gerais {
        grid-template-columns: 1fr;
        text-align: center;
        nav ul {
            column-count: 1;
            -moz-column-count: 1;
            -webkit-column-count: 1;
            a {
                padding: 0.5rem;
            }
        }
        .endereco span {
            padding: 0.5rem;
        }

        .contato span {
            padding: 0.5rem;
        }
        .contato .redes-sociais {
            justify-content: center;
            margin-top: 1.5rem;
        }
    }

    footer {
        .btn-e-form {
            flex-direction: column;
            a {
                margin-bottom: 3rem;
            }
            form {
                text-align: center;
                input {
                    display: block;
                    margin: 0;
                }
                button {
                    margin: 0;
                    margin-top: 1rem;
                }
            }
        }
        .termos-by {
            flex-direction: column;
            a {
                margin-top: 0.5rem;
            }
        }
    }

    h2 {
        font-size: 2rem
    }

    .eventos img {
        display: none;
    }

    .sup-header {
        height: 100%;
    }
    .sup-header .container-header{
        display: grid;
        grid-template-columns: auto auto;
        grid-row: 2rem 2rem;
        padding: 0;
        justify-content: space-between;
        background-color: $cor-2;
        .doacao-link {
            grid-column: 1 / -1;
            grid-row: 1;
            width: 100%;
            text-align: center;
        }
    }
    .galeria {
        display: none;
    }
}